.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2{
        font-size: 36px;
        font-weight: 600;
        margin: 0 0 30px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      mat-form-field {
        width: 100%;
      }
      
      a{
        font-size: 0.9rem;
        text-align: left;
        text-decoration: none;
        margin-bottom: 6px;
        transition: all 0.375s;
      }
  
      button {
        width: 100%;
        color: white;
        background-color: #660033;
        cursor: pointer;
        border-radius: 1.25rem;
        padding: 23px;
        border: 0;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        transition: all 0.375s;
      }
    }
}

form {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .auth-card {
    width: 90%;
    padding: 20px;
  }
}