<!-- Page wrapper -->
<div
  class="flex min-h-screen overflow-hidden bg-gray-50 text-gray-800 relative"
>
  <!-- Sidebar -->
  <div *ngIf="!sidebarCollapsed" (click)="toggleSidebar()"></div>
  <app-sidebar
    [sidebarCollapsed]="sidebarCollapsed"
    (toggleSidebar)="toggleSidebar()"
  ></app-sidebar>

  <!-- Toggle button shown ONLY when sidebar is collapsed -->
  <button
    *ngIf="sidebarCollapsed"
    (click)="toggleSidebar()"
    class="fixed top-4 left-4 z-40 bg-white border shadow-lg rounded-full w-10 h-10 flex items-center justify-center text-gray-600 hover:text-indigo-700 transition"
  >
    <i class="pi pi-angle-right"></i>
  </button>

  <!-- Main content wrapper -->
  <div
    class="flex-1 w-full transition-[margin] duration-300 ease-in-out"
    [class.lg:ml-64]="!sidebarCollapsed"
  >
    <main class="flex flex-col min-h-screen">
      <section class="flex-grow">
        <div class="max-w-6xl mx-auto px-6 sm:px-4 h-full">
          <div class="pt-20 pb-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
