<nav>
    <a href="#" class="logo">HotelRoyal</a>
    <div class="links">
        <a routerLink="/">Home</a>
        <a routerLink="/reservations">Reservations</a>
        <a routerLink="/features">Features</a>
        <a href="#">About Us</a>
    </div>

    <div class="login">
        <!--show if not login -->
        <ng-container *ngIf="!this.authService.loggedIn">
            <a routerLink="/register">
                <button class="signup">Sign up</button>
            </a>
            <a routerLink="/login">
                <button>Login</button>
            </a>
        </ng-container>

        <!--show if login -->
        <ng-container *ngIf="this.authService.loggedIn">
            <button class="logout" (click)="logout()">Logout</button>
        </ng-container>
    </div>
</nav>