<footer>
    <h3>Safe stays, peaceful nights.</h3>
    <div class="right">
        <div class="links">
            <a href="#">Privacy Policy</a>
            <a href="#">Cooperation</a>
            <a href="#">Sponsorship</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="social">
            <i class='bx bxl-instagram'></i>
            <i class='bx bxl-facebook-square'></i>
            <i class='bx bxl-github'></i>
            <i class='bx bxl-twitter'></i>
        </div>
        <p>Copyright © 2025 HotelRoyal, All Rights Reserved.</p>
    </div>
</footer>