<div class="reservations-container">
  <h2 class="reservation-title">Your Reservations</h2>

  <div class="reservation-card" *ngFor="let reservation of reservations">
    <img src="/assets/images/room3.webp" alt="Room image" class="room-image">

    <div class="reservation-details">
      <div class="reservation-header">
        <p class="room-title"><strong>{{ reservation?.nbNights }} nights in Cabin {{ reservation?.roomNumber }}</strong></p>
      </div>

      <p class="dates">{{ reservation?.checkIn | englishDate }} - {{ reservation?.checkOut | englishDate }}</p>
      <p class="room-type">{{ reservation?.roomType }}</p>
      <p class="guests">Guest: {{ reservation?.guestFirstName }} {{ reservation?.guestLastName }}</p>      
    </div>

    <div class="reservation-actions">
      <div class="status-tag pending" *ngIf="reservation?.status === 'PENDING'">⏳ Pending</div>
      <div class="status-tag pending" *ngIf="reservation?.status === 'CONFIRMED'">✅ Confirmed</div>
      <div class="status-tag pending" *ngIf="reservation?.status === 'CANCELLED'">❌ Cancelled</div>
      <div class="total-price"><strong>Total:</strong> {{ reservation?.totalPrice }} €</div>
      <div class="icons">
        <!-- PENDING -->
        <div *ngIf="reservation.status === 'PENDING'">
          <button class="pay-btn" (click)="pay(reservation.id!)">💳 Pay</button>
          <button class="delete-btn" (click)="delete(reservation.id!)">🗑️ Delete</button>
        </div>
        <!-- CONFIRMED -->
        <div *ngIf="reservation.status === 'CONFIRMED'">
          <!-- No actions -->
        </div>
        <!-- PAST -->
        <div *ngIf="reservation.status === 'PAST'">
          <button>📝 Leave a Review</button>
        </div>
        <!-- CANCELED -->
        <div *ngIf="reservation.status === 'CANCELED'">
          <!-- No actions -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    ⚠️ {{ errorMessage }}
  </div>
</div>
