<div class="home-wrapper">
  <div class="image-box">
    <img src="assets/images/home.png" alt="Hotel Room" class="hero-image" />
    <div class="booking-box">
      <h2>Check Booking Availability</h2>
      
      <div class="form-box">
        <div class="input-box">
          <label for="checkIn">Check-in</label>
          <input type="date" id="checkIn" name="Check-in" />
        </div>

        <div class="input-box">
          <label for="checkOut">Check-out</label>
          <input type="date" id="checkOut" name="Check-out" />
        </div>

        <div class="input-box">
          <label for="adult">Adult</label>
          <select id="adult">
            <option>1 Adult</option>
          </select>
        </div>

        <div class="input-box">
          <label for="children">Children</label>
          <select id="children">
            <option>0 Children</option>
          </select>
        </div>

        <div class="input-box button-box">
          <button type="submit">Search</button>
        </div>
      </div>
    </div>
  </div>

  <section class="our-rooms">
    <h2>Our Rooms</h2>

    <p *ngIf="rooms.length === 0">No rooms available for this now</p>
    <div class="room-cards">
      <div class="room-card" *ngFor="let room of rooms | slice:0:3">
        <img [src]="apiUrl + room.imageUrl" [alt]="room.type"/>
        <div class="room-info">
          <h3>{{ room.type }}</h3>
          <p>Capacity: {{ room.capacityAdults }} Adults<span *ngIf="room.capacityChildren > 0">, {{ room.capacityChildren }} Child</span></p>
          <p>Price per night: ${{ room.pricePerNight }}</p>
          <button class="book-button" (click)="goToDetailsRoom(room.id)">Details & Reservation →</button>
        </div>
      </div>
    </div>

    <div class="more-rooms">
      <a routerLink="/rooms">
        <button class="book-button">See All Rooms →</button>
      </a>      
    </div>
  </section>

  <section class="stats-section">
    <h2 class="stats-title">Hotel at a Glance</h2>
    <div class="stats-grid">
      <div class="stat-card">
        <h3 class="stat-number">40+</h3>
        <p class="stat-label">Employees</p>
      </div>
      <div class="stat-card">
        <h3 class="stat-number">15K+</h3>
        <p class="stat-label">Visitors Per Year</p>
      </div>
      <div class="stat-card">
        <h3 class="stat-number">97%</h3>
        <p class="stat-label">Satisfaction Rate</p>
      </div>
      <div class="stat-card">
        <h3 class="stat-number">20+</h3>
        <p class="stat-label">Rooms & Suites</p>
      </div>
    </div>
  </section>


  <section class="reach-us-section">
    <h2 class="section-title">Reach Us</h2>
    <div class="reach-us-container">
      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8807.263991022592!2d7.944058693626948!3d36.28224980641595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fa7cc7eaa42df9%3A0x710f29ee80229790!2sOum%20Elkhir%20H%C3%B4tel!5e0!3m2!1sfr!2sdz!4v1748974204729!5m2!1sfr!2sdz"
         width="100%" height="293" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>

      <div class="contact-container">
        <div class="contact-block">
          <h4>Call us</h4>
          <p>📞 +91 8529636985</p>
          <p>📞 +91 1112223335</p>
        </div>
        <div class="contact-block">
          <h4>Follow us</h4>
          <p>🐦 Twitter</p>
          <p>📘 Facebook</p>
          <p>📸 Instagram</p>
        </div>
      </div>
    </div>
  </section>

</div>