<div class="home-wrapper">
  <div class="image-box">
    <img src="assets/images/home.png" alt="Hotel Room" class="hero-image" />
    <div class="booking-box">
      <h2>Check Booking Availability</h2>
      
      <div class="form-box">
        <div class="input-box">
          <label for="checkIn">Check-in</label>
          <input type="date" id="checkIn" name="Check-in" />
        </div>

        <div class="input-box">
          <label for="checkOut">Check-out</label>
          <input type="date" id="checkOut" name="Check-out" />
        </div>

        <div class="input-box">
          <label for="adult">Adult</label>
          <select id="adult">
            <option>1 Adult</option>
          </select>
        </div>

        <div class="input-box">
          <label for="children">Children</label>
          <select id="children">
            <option>0 Children</option>
          </select>
        </div>

        <div class="input-box button-box">
          <button type="submit">Search</button>
        </div>
      </div>
    </div>
  </div>

  <section class="our-rooms">
    <h2>Our Rooms</h2>

    <div class="room-cards">
      <div class="room-card">
        <img src="assets/images/room1.webp" alt="Room 1"/>
        <div class="room-info">
          <h3>Deluxe Room</h3>
          <p>Capacity: 2 Adults, 1 Child</p>
          <p>Price per night: $200</p>
          <button class="book-button">Details & Reservation →</button>
        </div>
      </div>

      <div class="room-card">
        <img src="assets/images/room2.webp" alt="Room 2"/>
        <div class="room-info">
          <h3>Standard</h3>
          <p>Capacity: 2 Adults</p>
          <p>Price per night: $80</p>
          <button class="book-button">Details & Reservation →</button>
        </div>
      </div>

      <div class="room-card">
        <img src="assets/images/room3.webp" alt="Room 3"/>
        <div class="room-info">
          <h3>Suite</h3>
          <p>Capacity: 3 Adults, 1 Child</p>
          <p>Price per night: 250€</p>
          <button class="book-button">Details & Reservation →</button>
        </div>
      </div>
    </div>

    <div class="more-rooms">
      <button class="book-button">See All Rooms →</button>
    </div>
  </section>
</div>