<div class="home-wrapper">
  <div class="image-box">
    <img src="assets/images/home.png" alt="Hotel Room" class="hero-image" />

    <div class="booking-box">
      <h2>Check Booking Availability</h2>
      
      <div class="form-box">
        <div class="input-box">
          <label for="checkIn">Check-in</label>
          <input type="date" id="checkIn" name="Check-in" />
        </div>

        <div class="input-box">
          <label for="checkOut">Check-out</label>
          <input type="date" id="checkOut" name="Check-out" />
        </div>

        <div class="input-box">
          <label for="adult">Adult</label>
          <select id="adult">
            <option>1 Adult</option>
          </select>
        </div>

        <div class="input-box">
          <label for="children">Children</label>
          <select id="children">
            <option>0 Children</option>
          </select>
        </div>

        <div class="input-box button-box">
          <button type="submit">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
