<div class="feature-detail-container">
  <div class="feature-header">
    <h1>{{ feature?.name }}</h1>
    <p class="short-description">{{ feature?.shortDescription }}</p>
  </div>

  <div class="feature-main">
    <div class="feature-image">
      <img [src]="apiUrl + feature?.imageUrl" alt="Swimming Pool">
    </div>

    <div class="feature-info">
      <h2>Why You'll Love It</h2>
      <p class="full-description">
        {{ feature?.fullDescription }}
      </p>

      <h3>Opening Hours</h3>
      <p>{{ feature?.openingHours }}</p>
    </div>
  </div>

  <div class="feature-gallery">
    <h3>Gallery</h3>
    <div class="gallery-images">
      <p *ngIf="featureGallery.length === 0">No images available for this feature.</p>
      <img 
        *ngFor="let image of featureGallery" 
        [src]="apiUrl + image.imageUrl" 
        [alt]="image.imageUrl"
        (click)="openModal(apiUrl + image.imageUrl)"/>
    </div>
  </div>

  <!-- Image Zoom Modal -->
  <div class="image-modal" *ngIf="zoomedImage" (click)="closeModal()">
    <img [src]="zoomedImage" alt="Zoomed Image" />
  </div>

</div>
